---
import UserSection from "@/components/user-section";
import { UserService } from "@/domains/services/user";
import type { ServiceResultType } from "@/domains/types/service-result";
import type { UserType } from "@/domains/types/user";
import { UserRepository } from "@/infrastructure/repositories/user";
import Layout from "@/layouts/index.astro";
import { Alert } from "@heroui/react";

const repository: UserRepository = new UserRepository();
const service: UserService = new UserService(repository);
const response: ServiceResultType<UserType[], Error> = await service.getAll();
---

<Layout title={"AstroApp - Usuários"}>
  {
    !response.success && (
      <section class="pt-10">
        <Alert
          color="danger"
          title="Ops! Aconteceu um erro ao buscar as unidades."
          description={response.error.message}
          variant="faded"
        />
      </section>
    )
  }

  {response.success && <UserSection users={response.data} client:visible />}
</Layout>
